<a href="https://colab.research.google.com/github/SurajJadhav-5/Heart_Disease_Prediction_Viz/blob/main/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing all libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from google.colab import files
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [2]:
uploaded = files.upload()

Saving heart.csv to heart.csv

In [3]:
# reading data
data = pd.read_csv("heart.csv")
data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
# cleaning data
data = data.drop(data[(data['trestbps'] > 175) | (data['chol'] > 360) | (data['thalach'] < 85)].index)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       290 non-null    int64
 1   sex       290 non-null    int64
 2   cp        290 non-null    int64
 3   trestbps  290 non-null    int64
 4   chol      290 non-null    int64
 5   fbs       290 non-null    int64
 6   restecg   290 non-null    int64
 7   thalach   290 non-null    int64
 8   exang     290 non-null    int64
 9   oldpeak   290 non-null    float64
 10  slope     290 non-null    int64
 11  ca        290 non-null    int64
 12  thal      290 non-null    int64
 13  target    290 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 34.0 KB

In [7]:
# splitting data into train and test
columns = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal']
target = data['target']
X = data[columns]
y = target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)

In [8]:
X_train

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
69    62    0   0       124   209  ...      0      0.0      2   0     2
214   56    1   0       125   249  ...      1      1.2      1   1     2
38    65    0   2       155   269  ...      0      0.8      2   0     2
16    58    0   2       120   340  ...      0      0.0      2   0     2
300   68    1   0       144   193  ...      0      3.4      1   2     3
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
193   60    1   0       145   282  ...      1      2.8      1   2     3
72    29    1   1       130   204  ...      0      0.0      2   0     2
111   57    1   2       150   126  ...      0      0.2      2   1     3
283   40    1   0       152   223  ...      0      0.0      2   0     3
106   69    1   3       160   234  ...      0      0.1      1   1     2

[217 rows x 13 columns]

In [13]:
# creating object and fitting data
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
accuracy_dt = decision_tree.score(X_test, y_test)
print("Decision Tree accuracy is ", accuracy_dt)

Decision Tree accuracy is  0.7808219178082192

DecisionTreeClassifier()

In [10]:
# figure = plt.figure(figsize =(20, 25))
# # _ = tree.plot_tree(decision_tree, feature_names=data[columns], class_names=data.target, filled=True)
# tree.plot_tree(decision_tree, filled=True)

In [11]:
# text_representation = tree.export_text(decision_tree, feature_names=columns)
# print(text_representation)

class sklearn.tree.DecisionTreeClassifier(*, criterion='gini', splitter='best', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, max_leaf_nodes=None, min_impurity_decrease=0.0, class_weight=None, ccp_alpha=0.0)[source]¶

In [25]:
# using gridsearchcv for getting best para
param_dict = {
    "criterion" : ["gini", "entropy"],
    "max_depth" : [1,2,3,4,5,6,7,None],
    "max_features" : ["auto", "sqrt", "log2", None]
}

In [26]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(decision_tree, param_grid = param_dict, cv=10, n_jobs= -1)
# cv cross validation

In [27]:
grid.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, None],
                         'max_features': ['auto', 'sqrt', 'log2', None]})

In [28]:
grid.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=4, max_features='sqrt')

In [29]:
grid.best_score_

0.7976190476190476

In [30]:
grid.best_params_

{'criterion': 'entropy', 'max_depth': 4, 'max_features': 'sqrt'}