<a href="https://colab.research.google.com/github/SurajJadhav-5/Heart_Disease_Prediction_Viz/blob/main/PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from google.colab import files
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.decomposition import PCA

In [2]:
uploaded = files.upload()

Saving heart.csv to heart.csv

In [3]:
data = pd.read_csv("heart.csv")
data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
data = data.drop(data[(data['trestbps'] > 175) | (data['chol'] > 360) | (data['thalach'] < 85)].index)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       290 non-null    int64
 1   sex       290 non-null    int64
 2   cp        290 non-null    int64
 3   trestbps  290 non-null    int64
 4   chol      290 non-null    int64
 5   fbs       290 non-null    int64
 6   restecg   290 non-null    int64
 7   thalach   290 non-null    int64
 8   exang     290 non-null    int64
 9   oldpeak   290 non-null    float64
 10  slope     290 non-null    int64
 11  ca        290 non-null    int64
 12  thal      290 non-null    int64
 13  target    290 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 34.0 KB

In [30]:
columns = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal']
target = data['target']
X = data[columns]
y = target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)

In [31]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
predictions = logreg.predict(X_test)
accuracy_logreg = logreg.score(X_test, y_test)
print("Logistic Reg accuracy ",accuracy_logreg)

Logistic Reg accuracy  0.9041095890410958

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [32]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)

accuracy_dt = decision_tree.score(X_test, y_test)
print("Decision Tree accuracy is ", accuracy_dt)

Decision Tree accuracy is  0.726027397260274

In [ ]:
# figure = plt.figure(figsize =(20, 25))
# # _ = tree.plot_tree(decision_tree, feature_names=data[columns], class_names=data.target, filled=True)
# tree.plot_tree(decision_tree, filled=True)

In [ ]:
# text_representation = tree.export_text(decision_tree, feature_names=columns)
# print(text_representation)

In [11]:
# scaler = StandardScaler()
# scaler.fit(data)
# scaled_data = scaler.transform(data)
# names = data.columns
# scaled_data = pd.DataFrame(scaled_data, columns = names).head()

In [33]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [34]:
pca = PCA(n_components = 2)
 
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train_pca, y_train)

accuracy_dt = decision_tree.score(X_test_pca, y_test)
print("Decision Tree accuracy is ", accuracy_dt)

Decision Tree accuracy is  0.7397260273972602

In [35]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train_pca, y_train)
predictions = logreg.predict(X_test_pca)
accuracy_logreg = logreg.score(X_test_pca, y_test)
print("Logistic Reg accuracy ",accuracy_logreg)

Logistic Reg accuracy  0.8356164383561644

Decision Tree accuracy is  0.7534246575342466